<div id="response_background">
  <div id="question_container">
    <h1>You asked:</h1>
    <p><%= @question %></p>
  </div>

  <div id="answer_container">
    <h1>Your coach answered:</h1>
    <p><%= @answer %></p>
  </div>

  <div id="link_back">
    <%= link_to "Ask another question!", "/ask" %>
  </div>
</div>
